.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.Rproj

.DS_Store

poetry.lock
.pylintrc
mypy.ini


__pycache__/
.vscode/
*.pyc
*.ipynb
.ipynb_checkpoints/
*.Rmd
notebooks/*
!notebooks/*.Rmd
!notebooks/python_pairs/
!notebooks/mdp_model_bootstrap/
notebooks/mdp_model_bootstrap/_prev_runs/
notebooks/mdp_model_bootstrap/results/


ClonesModelling/data/patient_data/

logs/
cell_records/
ClonesModelling/hpc/submission_logs/

tests/resources/
